.uni-margin-wrap {
	width: 690rpx;
	width: 100%;
}

.swiper {
	height: 350rpx;
}

.swiper-item {
	display: block;
	height: 350rpx;
}

.carousel {
	height: 350rpx;
	background-color: #eeeeee;
	width: 100%;
}

.super-hot-header-wapper {
	display: flex;
	flex-direction: row;
	height: 70rpx;
	line-height: 70rpx;
}

.super-hot {
	margin-top: 15rpx;
	padding: 10rpx 20rpx 20rpx 20rpx;
}

.super-hot-header-wapper .hot-header-icon {
	width: 50rpx;
	height: 70rpx;
	line-height: 70rpx;
}

.super-hot-header-wapper .hot-header-title {
	font-size: 18px;
	font-weight: 600;
	margin-left: 10rpx;
}

.super-hot-content-wapper .scroll-view_H {
	width: 100%;
	white-space: nowrap;
	touch-action: none;
}

.single-poster {
	display: inline-block;
	margin-right: 15rpx;
}

.single-poster .poster {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.single-poster .poster .poster-image {
	width: 200rpx;
	height: 270rpx;
}

.single-poster .poster .poster-name {
	width: 200rpx;
	font-size: 16px;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #000;
}

.notice-video-wapper {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

.notice-video-wapper .notice-video {
	width: 48%;
	height: 210rpx;
	margin-bottom: 10rpx;
}

.single-love-movie {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 60rpx;
}

.love-movie-image {
	width: 180rpx;
	height: 270rpx;
	border-radius: 5px;
}

.love-movie-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 350rpx;
	height: 270rpx;
	padding-right: 40rpx;
	border-right: 2px dashed #dbdbda;
}

.love-movie-name {
	font-size: 16px;
	font-weight: bold;
}

.love-movie-synopsis {
	font-size: 14px;
	color: gray;
}

.love-movie-time {
	font-size: 14px;
	color: gray;
}

.love-movie-like {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100rpx;
	height: 270rpx;
}

.love-movie-like-text {
	font-size: 12px;
	align-self: center;
	color: #F3BB24;
}

.animation-opacity {
	opacity: 0;
	font-weight: bold;
}
