.userInfo-wapper {
	padding: 20rpx 40rpx 0rpx 40rpx;
	display: flex;
	height: 50%;
	flex-direction: column;
	justify-content: space-between;
}

uni-page-body {
	height: 100%;
}

.login-icon {
	width: 100rpx;
	height: 100rpx;
	border-radius: 50%;
	flex-shrink: 0;
}

.userInfo-operate .button {
	margin-bottom: 30rpx;
	height: 70rpx;
	font-size: 14px;
}
